body {
  background-color: pink;
}
h1 {
  color:purple;
  font-family: baskerville old face;
  background-color: pink;
  margin-left: 425px;
}
p {
  color:purple;
  background-color: pink;
  margin-left: -85px;
}
h3 {
  color:purple;
  font-family: baskerville old face;
  background-color: pink;
  margin-left: 470px;
}
a {
  color: purple;
  font-family: baskerville old face;
  background-color: pink;
  margin-left: 485px;
}
img {
  border: 5px solid black;
  width: 35%;
  height: 35%;
  margin-left:250px;
}
